.header {

	padding-left: 305px;
	background: #333333;
	line-height: 30px;
}

.header input {
	margin: 10px 0 0 10px;
	width: 300px;
	height: 30px;
}

.header img {
	margin-left: 5	px;
}

.header a {
	text-decoration: none;
  		color: #fff;
}

#menu {
	clear: both;
	margin-left: -41px;
	position: relative;
	z-index: 9999;
}

*{
	margin:0;
	padding: 0;
}
body {
  font-family: sans-serif;
  color: #1a1a1a;
  background-color: #333333;
}

#menu ul {
  background: #837A7A;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #323031;
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}

.sub-menu-1 {
  display: none;
  position: absolute;
  background: #323031;
  list-style-type: none;
  width: 600px;
}
#menu li {
  position: relative;
}
#menu li:hover .sub-menu-1 {
  display: block;
}
.sub-menu-1 li {
  margin-left: 0 !important;
}

#menu table:hover .sub-menu-1 {
  display:inline-block;
}

#menu td {
  height: 70px;
  width: 500px;
}

.sub-menu-2 {
  display: none;
  position: absolute;
  background: #323031;
  list-style-type: none;
  width: 500px;
}

#menu table:hover .sub-menu-2 {
  display:inline-block;
}

.sub-menu-2 li {
  margin-left: 0 !important;
}

#menu li:hover .sub-menu-2 {
  display: block;
}

.sub-menu-3 {
  display: none;
  position: absolute;
  background: #323031;
  list-style-type: none;
  width: 400px;
}

#menu table:hover .sub-menu-3 {
  display:inline-block;
}

.sub-menu-3 li {
  margin-left: 0 !important;
}

#menu li:hover .sub-menu-3 {
  display: block;
}
.sub-menu-4 {
  display: none;
  position: absolute;
  background: #323031;
  list-style-type: none;
  width: 500px;
}
#menu li {
  position: relative;
}
#menu li:hover .sub-menu-4 {
  display: block;
}
.sub-menu-4 li {
  margin-left: 0 !important;
}

#menu table:hover .sub-menu-4 {
  display:inline-block;
}

#menu td {
  height: 70px;
  width: 200px;
}
.sub-menu-5 {
  display: none;
  position: absolute;
  background: #323031;
  list-style-type: none;
  width: 600px;
}

#menu table:hover .sub-menu-5 {
  display:inline-block;
}

.sub-menu-5 li {
  margin-left: 0 !important;
}

#menu li:hover .sub-menu-5 {
  display: block;
}
